.experience_up{
    text-align: center;
    margin: 10rem 0 5rem 0;
}

.experience_down{
    display: flex;
    justify-content: center;
}

.experience_down div{
    background-color: var(--gray);
    margin: 0 2rem;
    padding: 2rem 4rem;
    border-radius: 3rem;
    width: 30%;
    text-align: center;
}

.experience_down div li{
    margin-top: 2rem;
    text-align: start;
    margin-left: 2rem;
    line-height: 1.5rem;
}