body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white-variant);
}

:root {
  --black: #181c20;
  --gray: #a39c9c;
  --white: #ffffff;
  --white-variant: #dddddd;
}

a{
  text-decoration: none;
}

.btn_primary{
  border: none;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  color: var(--white);
  background-color: var(--black);
}

li{
  list-style-type: none;
}